pre,
code {
  background-color: $color-secondary;
  border: 1px solid $color-secondary-dk;
  color: $color-black;
  font-family: Monaco, monospace, Courier, "Courier New";
  font-size: 13px;
  line-height: 1.3em;

  .hl {
    background-color: darken($color-secondary, 5);
    color: $color-bold;
    margin: -1px;
    padding: 1px;
  }
}


code {
  padding: 1px 3px;
}

pre {
  padding: 15px 20px;
}
