.container {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 300px;
  padding: 0 20px;

}

.inputs {
  position: relative;
}

.test {
  @extend %clearfix;
}


@media (min-width: $mq-large) {
  .inputs,
  .results {
    float: left;
    width: 50%;
  }

  .inputs {
    padding: 0 10px 0 0;
  }

  .results {
    padding: 12px 0 0 10px;

    pre {
      min-height: 182px;
    }
  }
}
