input,
textarea {
  border: 1px solid #ddd;
  font-family: Monaco, monospace, Courier, "Courier New";
  font-size: 14px;
  padding: 8px 10px;
  resize: vertical;

  &.ng-invalid {
    border-color: $color-bold;
    box-shadow: 0 0 5px 0 $color-bold;
    outline: $color-bold;
  }
}
