.test {
  label {
    display: block;
  }

  input,
  textarea {
    width: 100%;
  }

  .regex-input,
  .modifiers-input {
    display: inline-block;
    margin-bottom: 5px;
  }

  .regex-input {
    width: calc(100% - 100px);
  }

  .modifiers-input {
    float: right;
    width: 90px;
  }

  .modifiers-label {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;

    @media (min-width: $mq-large) {
      right: 10px;
    }
  }

  .subject-split {
    color: lighten($color-black-lt, 10);
    display: inline-block;
    font-size: .9em;
    width: auto;
  }
}
