# Erlang version
erlang_version=19.2

# Elixir version
elixir_version=1.4.2

# Always rebuild from scratch on every deploy?
always_rebuild=false

# A command to run right before compiling the app (after elixir, .etc)
pre_compile="make install build compile-prod"

# A command to run right after compiling the app
# post_compile="pwd"

# Set the path the app is run from
runtime_path=/app
