<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="An elixir regular expression editor & tester">
    <meta name="author" content="Louis Pilfold">

    <title>Elixre - An Elixir regular expression editor & tester</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/main.css") %>">
  </head>

  <body>
    <div ng-app="elixre" class="container">
      <header class="header">
        <h1>Elixre</h1>
        <h3>An Elixir regular expression editor & tester</h3>
      </header>
      <%= @inner %>
    </div>
    <script src="<%= static_path(@conn, "/main.js") %>"></script>

    <footer class="footer">
      <p>
        Elixre is
        <a href="http://en.wikipedia.org/wiki/Free_software" target="_blank">
        Free software</a>, available under the
        <a href="https://gnu.org/licenses/agpl.html" target="_blank">GNU
          AGPL3</a> licence.
      </p>
      <p>
        The source code is freely available on
        <a href="http://github.com/lpil/elixre" target="_blank">GitHub</a>.
        (Contributions welcome!)
      </p>
      <p>
        Copyright © 2015
        <a href="http://lpil.uk/" target="_blank">Louis Pilfold</a>. All Rights
        Reserved.
      </p>
    </footer>

    <%= render "_tracking.html" %>
    
  </body>
</html>
