pre,
code {
  background-color: $c-secondary;
  border: 1px solid $c-secondary-dk;
  color: $c-black;
  font-family: Monaco, monospace, Courier, "Courier New";
  font-size: 13px;
  line-height: 1.3em;

  .hl {
    background-color: darken($c-secondary, 5);
    color: $c-bold;
    margin: -1px;
    padding: 1px;
  }

  .no-hl {
    background-color: $c-secondary;
    color: $c-black;
  }
}


code {
  padding: 1px 3px;
}

pre {
  padding: 15px 20px;
}
