$color-primary:      #4e2a8e;
$color-secondary:    #fff8ed;
$color-secondary-dk: #f6e4cc;
$color-black:        #333;
$color-black-lt:     #555;
$color-grey:         #aaa;
$color-grey-lt:      #e9e9e9;
$color-bold:         #d14;
