<main ng-controller="testController">
  <p>
    <label for="regex">Regex</label>
    <input name="regex" type="text" ng-model="regex"/>
  </p>

  <p>
    <label for="subject">Subject</label>
    <textarea name="subject" ng-model="subject"></textarea>
  </p>

  <p>
    <label for="split">Split on newlines?</label>
    <input type="checkbox" name="split" ng-model="split">
  </p>

  <div ng-click="test(regex, subject)">
    Submit
  </div>

  <results data="results">
</main>
